body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    /* fondo con gradiente */
    background: linear-gradient(120deg, #3139ae, #7b28d8);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenido principal */
main {
    flex: 1;
    max-width: 900px;
    margin: auto;
    padding: 40px 30px;
    background: rgba(255, 255, 255, 0.90);
    border-radius: 10px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.3);
}

/* Título */
h1, h2 {
    text-align: center;
    color: #292929;
}

/* Párrafos */
.descripcion {
    text-align: center;
    font-size: 18px;
    color: #242323;
    line-height: 1.7;
    margin-bottom: 25px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #1c1c1c;
    color: white;
    padding: 15px 0;
    margin-top: auto;
}